<% title "Cartoni" %>

<table>
  <tr>
    <th>Nome</th>
    <th>Nome Originale</th>
    <th>Produzione</th>
    <th>Distribuito In</th>
    <th>Tipo</th>
    <th>Formato</th>
    <th>Anno</th>
    <th>Episodi</th>
  </tr>
  <% @cartoni.each do |cartone| %>
    <tr>
      <td><%=link_to h(cartone.nome_it), cartone %></td>
      <td><%=h cartone.nome_ori %></td>
      <td></td>
      <td><%=h cartone.distribuito_in %></td>
      <td><%=h cartone.tipo %></td>
      <td><%=h cartone.formato %></td>
      <td><%=h cartone.anno %></td>
      <td><%=h cartone.episodi %></td>
      <td><%= link_to "Modifica", edit_cartone_path(cartone) %></td>
      <td><%= link_to "Cancella", cartone, :confirm => 'Sei sicuro?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Nuovo Cartone", new_cartone_path %></p>
