<% form_for @canzone do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :titolo %><br />
    <%= f.text_field :titolo %>
  </p>
  <p>
    <%= f.label :durata %>
    <%= f.text_field :durata, :size => 3 %>
  </p>
  <p>
    <%= f.label :celo, "Ce l'ho?" %>
    <%= f.check_box :celo %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
